/* General Styles */
[class*=sqs-col] .sqs-block {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px!important;
    padding-top: 10px!important;
}
.summary-title {
    font-family: Oranienbaum;
}
/* Spacer */
.sqs-block-spacer {
	padding: 0 !important;
	line-height: 0.01em;
}
/* Image block link */
.sqs-block-image a {
    position: relative;
    display: block;
}
/* Poster image block */
.image-card-wrapper .image-title, .image-card-wrapper .image-title p {
    font-size: 30px!important;
}
/* Disable underline for links */
a {
    border: none!important;
}
/* Menu */
.ancillary-header-branding-position-top-center [data-nc-base="header"] [data-nc-group="top"][data-nc-collapse] [data-nc-container="top-left"],
.ancillary-header-branding-position-top-center [data-nc-base="header"] [data-nc-group="top"][data-nc-collapse] [data-nc-container="top-right"] {
    display: none;
}
/* Hover on images */
.sqs-block-image {
    transition: all 0.5s;
}
.sqs-block-image:hover {
    opacity: 0.7;
}

/* Homepage  1 - Portfolio Section */
.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .image-caption-wrapper,
.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay-hover .image-caption-wrapper {
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    padding: 18px;
    background: transparent;
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}
.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .image-caption-wrapper p,
.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay-hover .image-caption-wrapper p {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}
.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .image-caption-wrapper p a,
.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay-hover .image-caption-wrapper p a {
  color: #fff;
  text-decoration: none!important;
}

/* Homepage 1 - Homepage Info */
[id^="homepage-info"] {
    background: #000;

    h1,h2,h3, p {
        color: #fff;
    }
    .sqs-block-horizontalrule hr {
        background: #fff;
    }
    .sqs-row {
        display: flex;
        align-items: center;
    }
    .sqs-block-image:hover {
        opacity: 1;
    }
    .sqs-col-3 .sqs-block-image {
        margin-left: -120px;
    }
    .sqs-block-button-element,
    .sqs-block-button-element:hover {
        background: #fff;
        color: #000;
    }
    @media only screen and (max-width: 767px) {
        .sqs-col-3 .sqs-block-image {
            margin-left: -60px;
        }
    }
    @media only screen and (max-width: 640px) {
        .sqs-row {
            display: block;
        }
        .sqs-col-3 .sqs-block-image {
            margin-left: 0;
        }
    }
}

/* Homepage 2 - Homepage About */
[id^="homepage-about"] {
    .sqs-row {
        display: flex;
        align-items: center;
    }
    .sqs-block-image:hover {
        opacity: 1;
    }
    .sqs-col-3 .sqs-block-image {
        margin-right: -60px;
        z-index: 5;
    }
    .sqs-col-4 .sqs-block-image {
        margin-left: -90px;
    }
    @media only screen and (max-width: 640px) {
        .sqs-row {
            display: block;
        }
        .sqs-col-3 .sqs-block-image {
            margin-right: 0;
        }
        .sqs-col-4 .sqs-block-image {
            margin-left: 0;
        }
    }
}

/* Homepage 3 - From the Blog */
[id^="from-the-blog"] {
    h3 {
        position: relative;
        margin-top: 80px !important;
    }
    h3:before {
        content: '';
        position: absolute;
        top: -80px;
        left: 50%;
        width: 1px;
        height: 60px;
        background: #000;
    }
}

/* Homepage 3 - Two Columns Separator */
[id^="two-columns-separator"] {
    h2 {
        max-width: 60%;
        margin: 0 auto
    }
    h3 {
        max-width: 70%;
        margin: 0 auto
    }
    @media only screen and (max-width: 640px) {
        h2,
        h3 {
            max-width: 100%;
        }
    }
}

/* Homepage 3 - Homepage Portfolio */
[id^="homepage-portfolio"] {
    background: #000;

    h1,h2,h3, p {
        color: #fff;
    }
}

/* About 1 - Image Text */
[id^="image-text"] {
    .sqs-row {
        display: flex;
        align-items: center;
    }
    @media only screen and (max-width: 640px) {
        .sqs-row {
            display: block;
        }
    }
}

/* About 1 - Overlap Images */
[id^="overlap-images"] {
    .sqs-row {
        display: flex;
        align-items: center;
    }
    .sqs-block-image:hover {
        opacity: 1;
    }
    .sqs-col-3 .sqs-block-image {
        margin-left: -120px;
    }
    @media only screen and (max-width: 767px) {
        .sqs-col-3 .sqs-block-image {
            margin-left: -60px;
        }
    }
    @media only screen and (max-width: 640px) {
        .sqs-row {
            display: block;
        }
        .sqs-col-3 .sqs-block-image {
            margin-left: 0;
        }
    }
}

/* FAQ - Links Section */
[id^="two-columns-separator"],
[id^="links-section"] {
    .sqs-col-6 {
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sqs-col-6:first-child {
        border-right: 1px solid #000;
    }
    @media only screen and (max-width: 640px) {
        .sqs-col-6:first-child {
            border-right: none;
        }
    }
}

/* Contact - Contact Section */
[id^="contact-section"] {
    @media only screen and (max-width: 640px) {
        .sqs-block-html p {
            text-align: center;
        }
    }
}

/* Blog Listing */
.BlogList-item-excerpt {
    max-width: 600px!important;
    margin: 0 auto;
}

/* Blog Details */
.collection-type-blog.view-item .Main-content .html-block {
    max-width: 700px;
}

/* Footer */
div#footerBlocksBottom .sqs-block-image .image-block-wrapper {
    padding-bottom: 0!important;
}
div#footerBlocksBottom .sqs-block-image .image-block-wrapper img {
    max-width: 70px!important;
    position: relative!important;
    left: auto!important;
    margin: 0 auto;
}
.Footer-inner {
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.Footer-inner .sqs-row {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto!important;
}
div#footerBlocksBottom {
    background: #000;
}
div#footerBlocksBottom h3, div#footerBlocksBottom h3 a {
    color: #fff;
    font-size: 15px;
}

/* Responsive */
@media only screen and (max-width: 767px) {
    .sqs-col-1 .sqs-block-image {
        max-width: 150px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 640px) {
    section h3,
    section h2,
    .sqs-block-button-container--left {
        text-align: center!important;
    }
}

